/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

body {
    background-color: #540B51;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: white;
}

#nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

.logo-class ul {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: .1px;
}
.slack-logo {
    width: 100px;
    height: auto;
    margin-top: 30px;
    margin-left: 30px;

}

.great {
    text-align: center;
    color: white;
    margin: -100px 20px 0 20px;
}
.great h1 {
    font-size: 3.4rem;
}
.great p {
    font-size: 1.5rem;
}
.orange {
    color: #ECB12F;
}

.top-buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.email {
  width: 620px;
  height: 60px;
  font-size: 1.3rem;
  border-color: white;
  background-color: white;
  color: #540B51;
  border-radius: 5px;
  margin: auto auto 20px auto;
  text-transform:uppercase;
}

.google {
    width: 620px;
    height: 60px;
    font-size: 1.3rem;
    border-color: #4285F4;
    background-color: #4285F4;
    color: white;
    border-radius: 5px;
    margin: auto;
}
.google img {
    height: 45px;
    width: 45px;
    border-radius: 5px;
    background-color: white;
    float: left;
}
.google span {
    padding-right: 50px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    text-transform:uppercase;
}

.ivory {
    background-color: #F3EAE2;
    width: 100%;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    margin: 0;
}

.ivory div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.ivory p {
    width: 100%;
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 0;
    text-transform: uppercase;

}
.ivory img {
    width: 25%;
    height: auto;
    margin: 0;
}
img.airbnb {
    width: 180px;
    height: auto;
    padding-right: 2cqb;
}
img.nasa {
    width: 130px;
    height: auto;
    padding-right: 20px;
}
img.target {
    width: 110px;
    height: auto;
}
img.uber {
    width: 130px;
    height: auto;
    padding-right: 25px;
}
img.nyt {
    width: 320px;
    height: auto;
    margin-bottom: 70px;
    padding-right: 15px;
}
img.spotify {
    width: 300px;
    height: auto;
    margin-bottom: 70px;
}
.hero img {
    width: 100vw;
}

.button-class {
  display: flex;
  border: none;
  margin-right: 30px;
  margin-bottom: 120px;
  margin-top: 30px;
}
.search-button {
    padding-right: 20px;
}
.button-class button {
    background-color: #540B51;
    border: none;
}


.slack-logo {
    width: 200;
    height: 50;
}

.teams {
    background-color: white;
    text-align: center;
    margin-top: -50px;
}
.teams h3 {
    font-size: 2.5rem;
    color: #540B51;
    padding: 40px 80px 0 80px;
}

.subtext {
    font-size: 1.3rem;
    margin-top: -30px;
    padding-bottom: 30px;
}

.teams ul {
    list-style-type: none;
}

.purple {
    font-size: 3rem;
    font-weight: bold;
    color: #540B51;
    padding-bottom: 0;
    margin-bottom: 0;
}

.black {
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
    padding: 0 190px 0 190px;
    margin-top: -20px;
}

.weighted {
    color: #837d83;
    padding-top: 30px;
    padding-bottom: 50px;
    margin: 0 100px 0 100px;
}

.star {
    color: black;
}

.welcome {
    height: auto;
    color: white;
    text-align: center;
    font-size: 3rem;
    display: block;
    margin: 10px 10px 0 10px;
}

.try {
    width: 620px;
    height: 60px;
    font-size: 2.5rem;
   color:#540B51;
   border-color: white;
   background-color: white; 
   border-radius: 3px;
   display: block;
   margin: 0 auto 10px auto;
}

.talk {
    width: 620px;
    height: 60px;
    font-size: 2.5rem;
    color: white;
    border-color: white;
    background-color:#540B51;
    border-radius: 3px;
    display: block;
    margin: 20px auto 70px auto;
}

footer {
    background-color: white;
    font-weight: bolder;
    padding-right: 50px;
}


footer ul {
    list-style-type: none;
}

.status {
    padding-top: 40px;
}

.status li {
    padding-bottom: 25px;
}
.status li:first-of-type {
    padding-bottom: 40px;
    border-color: #837d83;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blue {
    color: #2E71A6;
}

.small {
    padding-left: 40px;
    color: #837d83;
    padding-bottom: 40px;
}


@media (min-width: 768px) and (max-width: 1024px) {
    header {
        display: flex;
        flex-direction: row;
        margin-bottom: 130px;
    }
    .great {
        background-image: url("./images/background-singup.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 60%;
    }
    .great h1 {
        font-size: 5rem;
        text-align: left;
    }
    .great p {
        text-align: left;
    }
    .great .email {
        width: 600px;
        height: 55px;
        text-align: left;
        margin-left: 0;
        padding-left: 190px;
    }
    .great .google {
        width: 600px;
        height: 60px;
        text-align: left;
        margin-left: 0;
    }
    .hero {
        width: 45%;
        overflow: hidden;
    }
    .hero img {
        width: 600px;
        height: 400px;
    }

    .ivory {
        height: 200px;
        padding: 0 20px 80px 20px;
        width: auto;
    }
    .ivory div {
        width: 95%;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
    }
    .ivory p {
        font-size: 1rem;
    }
    .ivory img {
        width: 25%;
        height: auto;
        margin: 0;
    }
    img.airbnb {
        width: 120px;
        height: auto;
        padding: 0;
    }
    img.nasa {
        width: 70px;
        height: auto;
        padding: 0;
    }
    img.target {
        width: 50px;
        height: auto;
        padding: 0;
    }
    img.uber {
        width: 70px;
        height: auto;
        padding: 0;
    }
    img.nyt {
        width: 260px;
        height: auto;
        padding: 0;
    }
    img.spotify {
        width: 160px;
        height: auto;
        padding: 0;
    }
    .teams {
        padding-top: 40px;
    }
    .teams ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    .teams ul li {
        text-align: left;
    }
    }
    .teams .purple {
        display: flex;
        justify-content: flex-start;
        padding: 0;
        margin: 0;
    }
    .teams .black {
        padding: 0;
        margin: 0;
        text-align:left;
    }
    footer li.row {
        display: inline-block;
        padding-right: 47px;
}
    footer li.row:last-of-type {
        padding-right: 0;
    }
}